*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Open Sans', sans-serif;
    background-color: #ddd;
}

/* header  */
header{
    background: #0c3a6c;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

header .logo{
    letter-spacing: 3px;
}

header ul{
    /* background-color: pink; */
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}

header ul li{
    margin-right: 20px;
}

header a{
    text-decoration: none;
    color: wheat;
}

header a:hover{
    color: rgb(96, 152, 236);
}


/* akhir dari header  */

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}

.input-section{
    /* width: 80%; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-section .maximal-text{
    color: gray;
    display: block;
    width: 100%;
    text-align: end;
    /* background-color: #0c3a6c; */
}

.form-add{
    width: 100%;
}

.input-section > form > .form-group{
    margin: 8px 0;
}

.input-section > form > button{
    background-color: #0c3a6c;
    color: white;
    border: 0;
    border-radius: 5px;
    /* display: block; */
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.input-section > form > .form-group > input, textarea{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    display: block;
    border: 1px solid gray;
}

.search-section{
    /* width: 80%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-section  {
    padding: 16px;   
    width: 100%;
    background-color: white;
}

.search-section  > .input-search{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.notes-lists{
    width: 100%;
    margin-bottom: 50px;
    /* background-color: white; */
    /* background-color: pink; */
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

.notes{
    border: 1px solid black;
    border-radius: 5px;
    /* padding: 0 10px; */
    /* margin: 10px 0; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 300px;    */
    height: 100%;
    background-color: white;
}

.notes a{
    text-decoration: none;
}

.notes a:hover{
    color: #3f8ad9;
}

.title-notes, .time-notes, .content-notes{
    padding: 10px ;
    /* background-color: #0c3a6c; */
}

.title-notes{
    order: 1;
}

.time-notes{
    order: 2;
    font-size: 0.7rem;
    padding: 0 10px;
    color: gray;
}

.content-notes{
    order: 3;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.8em;
    height: 100%;
}

.button-group{
    order: 4;
    display: flex;
    flex-direction: row;
    position: fixed;
    /* bottom: 0px; */
}

.page-note-found{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notes button{
    display: block;
    width: 100%;
    padding: 5px 0;
    overflow: hidden;
    cursor: pointer;
}

.notes-detail{
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.notes-detail p{
    margin-top: 15px;
}

.green{
    border: 1px solid gray;
    background-color: transparent;
    color: green;
}

.text-archive{
    margin: 15px 0;
}

.floatDelete{
    position:fixed;
	width:50px;
	height:50px;
	bottom:80px;
	right:100px;
	background-color:red;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    border: none;
    cursor: pointer;
}

.floatArchive{
    position:fixed;
	width:50px;
	height:50px;
	bottom:80px;
	right:40px;
	background-color:aquamarine;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    border: none;
    cursor: pointer;
}

.floatAdd{
    position:fixed;
	width:50px;
	height:50px;
	bottom:80px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    border: none;
    cursor: pointer;
}

.floatBack{
    position:fixed;
	width:50px;
	height:50px;
    left: 30px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    border: none;
    cursor: pointer;
}

footer{
    padding: 20px;
    background-color: #0c3a6c;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    position: fixed;
    width: 100%;
    bottom: 0px;
}