@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

html, body{
    font-family: 'Open Sans', sans-serif;
    background-color: #ddd;
}

header{
    background: #0c3a6c;
    color: whitesmoke;
    padding: 16px;
    font-size: 2rem;
    text-align: center;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}

.input-section{
    /* width: 80%; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-section .maximal-text{
    color: gray;
    display: block;
    width: 100%;
    text-align: end;
    /* background-color: #0c3a6c; */
}

.form-add{
    width: 100%;
}

.input-section > form > .form-group{
    margin: 8px 0;
}

.input-section > form > button{
    background-color: #0c3a6c;
    color: white;
    border: 0;
    border-radius: 5px;
    /* display: block; */
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.input-section > form > .form-group > input, textarea{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    display: block;
    border: 1px solid gray;
}

.search-section{
    /* width: 80%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-section  {
    padding: 16px;   
    width: 100%;
    background-color: white;
}

.search-section  > .input-search{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.notes-lists{
    width: 100%;
    /* background-color: white; */
    /* background-color: pink; */
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

.notes{
    border: 1px solid black;
    border-radius: 5px;
    /* padding: 0 10px; */
    /* margin: 10px 0; */
    display: flex;
    flex-direction: column;
    background-color: white;
}

.title-notes, .time-notes, .content-notes{
    padding: 10px ;
    /* background-color: #0c3a6c; */
}


.time-notes{
    font-size: 0.5rem;
    padding: 0 10px;
    color: gray;
}

.content-notes{
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.8em;
}

.button-group{
    display: flex;
    flex-direction: row;
}

.notes button{
    display: block;
    width: 100%;
    padding: 5px 0;
    overflow: hidden;
    cursor: pointer;
}

.red{
    border: 1px solid gray;
    background-color: transparent;
    color: red;
}

.green{
    border: 1px solid gray;
    background-color: transparent;
    color: green;
}


footer{
    padding: 20px;
    background-color: #0c3a6c;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
}


.container{
    max-width: 850px;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: row-reverse;
    margin: 20vh auto ;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    perspective: 2700px;
}

.container .cover{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}
.container #flip:checked ~ .cover{
    transform: rotateY(-180deg);
}

.container .cover .front,
.container .cover .back{
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
}

.cover .back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.container .cover::before,
.container .cover::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #18ae77;
  opacity: 0.5;
  z-index: 12;
}

.container .cover::after{
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }

.container .cover img{
    position: absolute;
    /* top: -100px; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}

.container .cover .text{
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2{
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.cover .text .text-2{
    font-size: 15px;
    font-weight: 500;
}

.container .forms{
    height: 100%;
    width: 100%;
    background: #fff;
}

.container .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: calc(100% / 2 - 25px);
  }
  .forms .form-content .title{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }
  .forms .form-content .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #7d2ae8;
  }
  .forms .signup-form  .title:before{
    width: 20px;
  }
  .forms .form-content .input-boxes{
    margin-top: 30px;
  }
  .forms .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
  }
  .form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .form-content .input-box input:focus,
  .form-content .input-box input:valid{
    border-color: #7d2ae8;
  }
  .form-content .input-box i{
    position: absolute;
    color: #7d2ae8;
    font-size: 17px;
  }
  .forms .form-content .text{
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  .forms .form-content .text a{
    text-decoration: none;
  }
  .forms .form-content .text a:hover{
    text-decoration: underline;
  }
  .forms .form-content .button{
    color: #fff;
    margin-top: 40px;
  }
  .forms .form-content .button input{
    color: #fff;
    background: #7d2ae8;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .forms .form-content .button input:hover{
    background: #5b13b9;
  }
  .forms .form-content label{
    color: #5b13b9;
    cursor: pointer;
  }
  .forms .form-content label:hover{
    text-decoration: underline;
  }
  .forms .form-content .login-text,
  .forms .form-content .sign-up-text{
    text-align: center;
    margin-top: 25px;
  }
  .container #flip{
    display: none;
  }
  @media (max-width: 730px) {
    .container .cover{
      display: none;
    }
    .form-content .login-form,
    .form-content .signup-form{
      width: 100%;
    }
    .form-content .signup-form{
      display: none;
    }
    .container #flip:checked ~ .forms .signup-form{
      display: block;
    }
    .container #flip:checked ~ .forms .login-form{
      display: none;
    }
  }